{% extends 'base.html' %}

{% block head_title %}
    V2OF Django
{% endblock %}

{% block content %}
    <div class="section text-center">
        <h1 class="text-center">Department of Informatics and Telematics</h1>
        <h2 class="text-center">Welcome to the Data Visualization Project!</h2>

        <p class="lead">A picture is worth a million rows<br> Data visualization makes insights come alive with impact
            and
            communicates complex ideas simply. <br>Expressive visualization enables you to get beyond static charts to
            create
            multi-faceted views of data and explore every dimension.</p>
    </div>
{% endblock %}
