{% extends "account/base.html" %}

{% load i18n account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block head_links %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'account/css/login.css' %}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css"
          rel="stylesheet"/>
{% endblock %}

{% block body_tag %}
    <body class="login-page sidebar-collapse">
{% endblock %}

{% block main %}
    <div class="page-header header-filter"
         style="background-image: url({% static 'assets/img/bg1.jpg' %});
                 background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row mt-3">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form-signin" method="post" action="{% url 'account_login' %}">
                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">{% trans "Sign in" %}</h4>
                                <img src="{% static 'account/img/logo.png' %}" alt="" width="72" height="72">
                            </div>
                            <div class="card-body">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <label for="id_login" class="sr-only">Email address</label>
                                <input id="id_login" class="form-control" name="login" placeholder="Email address"
                                       required=""
                                       autofocus=""
                                       type="email"/>{{ form.login.errors }}
                                <label for="id_password" class="sr-only">Password</label>
                                <input id="id_password" class="form-control" name="password" placeholder="Password"
                                       required=""
                                       type="password"/>{{ form.password.errors }}
                                <div class="remember-forgot-section">
                                    <label for="id_remember">Remember Me</label>
                                    <input id="id_remember" name="remember" type="checkbox"/>
                                    <a class="forgot"
                                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                </div>
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <button class="primaryAction btn btn-lg btn-primary btn-link center-block"
                                        type="submit">{% trans "Sign in" %}</button>

                                <div class="text-center">
                                    <p>{% blocktrans with site.name as site_name %}
                                        New to V2OF? Please <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}
                                    </p>
                                    <div class="login-or">{% trans 'or' %}</div>
                                    {% get_providers as socialaccount_providers %}

                                    {% if socialaccount_providers %}

                                        <div class="socialaccount_ballot">
                                            <ul class="socialaccount_providers list-unstyled">
                                                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                            </ul>
                                        </div>
                                        {% include "socialaccount/snippets/login_extra.html" %}
                                    {% else %}
                                        <p class="footnote">{% blocktrans %}If you have not created an account yet, then
                                            please
                                            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                                    {% endif %}
                                </div>
                                <p class="mt-3 text-muted text-center">©
                                    <script>
                                        document.write(new Date().getFullYear())
                                    </script>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
