{% extends "userprofiles/home.html" %}

{% load i18n avatar_tags bootstrap static socialaccount %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account_nav_change_password %}active{% endblock %}

{% block profile %}
     <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs text-center">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ password_change_form|bootstrap }}
                    <div class="form-actions">
                      <button class="btn btn-primary btn-lg" type="submit" name="action">{% trans "Change Password" %}</button>
                        <a href="javascript:history.back()" class="btn btn-lg btn-default">{% trans "Back" %}</a>
                    </div>
                </form>
            </div>
        </div>
     </div>
{% endblock %}
